%html
	%head
		%title BoBlog
		%meta{"http-equiv" => "Content-Type", :content => "text/html", :charset => "utf-8"}
		%link{:rel => "stylesheet", :href => "css/style.css", :type => "text/css"}
		%link{:href => "https://fonts.googleapis.com/css?family=Comfortaa|Roboto+Slab|Slabo+27px|Ubuntu+Mono", :rel => "stylesheet"}
	%body
		%header.l-header
			%h1.site-title Lorem
			%nav.l-navbar
				%ul.item-navbar
					%li.item-nav
						%a{:href => "about.html"} A propos
					%li.item-nav
						%a{:href => "git/"} /git/
					%li.item-nav
						%a{:href => "reseaux.html"} Lorem
					%li.item-nav
						%a{:href => "lorem.html"} Ipsum
		%aside.l-sidebar
			%h1.side-title
				Derniers articles
			%h2.side-title2
				Lorem Ipsum
			%p
				Consectetur
			%h2.side-title2
				Dolor sit Amet
			%p
				Temporibus molestiae
		%main.l-main
			%article.article
				%h1.article-title About
				%content.article-content
					.article-item
						%strong Pseudos : 
						Rubiss Rubissar Rubsoo Stoubraï
					.article-item
						%strong Mails :
						%ul
							%li
								%a{:href => "mailto:basile.arnaud@protonmail.com"} basile.arnaud@protonmail.com
							%li
								%a{:href => "mailto:basile.arnaud00@gmail.com"} basile.arnaud00@gmail.com
					.article-item
						%strong Twitter :
						%a{:href => "https://ww.twitter.com/Rubissar"} @Rubissar
					.article-item
						%strong Mastodon :
						%a{:href => "https://mastodon.social/Rubiss"} @Rubiss@mastodon.social
					.article-item
						%strong Jeux videos :
						%a{:href => "https://www.minecraft.net/"} Minecraft
						\-
						%a{:href => "https://www.factorio.com/"} Factorio
						\-
						%a{:href => "http://www.battle-for-wesnoth.com/"} Battle for Wesnoth
						\-
						%a{:href => "http://www.freeciv.com/"} Freeciv II
					.article-item
						%strong Discord :
							Rubiss
					%br
					.article-item
						%strong Nom complet :
						Basile Arnaud
					.article-item
						%strong Scolarisation :
						%ul
							%li 
								%strong Primaire : 
								%a{:href => ""} Frederic Mistral - Vaulx en velin
							%li
								%strong Collège :
								%a{:href => ""} Joliot Curie - Bron
							%li 
								%strong Lycée :
								%a{:href => "http://www.lycee-experimental.org/"} Lycée Experimental - Saint Nazaire
